.SearchRecipesLink{
    border: none;
    outline: none;
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}
.SearchRecipesLink:hover{
    background-color:#002ead;
    color: ghostwhite;
    transition: 0.7s;
}
.SearchRecipesDiv{
    display: flex;
    justify-content: center;
    margin: 5px;
}